/* DEBUG */

header{
    min-height: 60px;
    background-color: antiquewhite;
}
.top-section{
    background-color: aqua;
    min-height: 400px;
    width: 100vw;
}

.small-container{
    background-color: blue;
    min-height: 350px;
}



.presentazione{
    min-height: 350px;
    width: 260px;
    background-color: red;
}

.principal{
    background-color: lightgreen;
    min-height: 600px;
    text-align: center;
}


/* CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100vw;
}

nav{
    display: flex;
    justify-content: space-between;
    display: fixed;
    top: 0;
    left: 0;
}

ul{
    list-style: none;
    color: black;
    display: flex;
    flex-direction: row;
}
 .right{
    text-align: right;
}

.logo{
    text-align: left;
}


.small-container{
    max-width: 40vw;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
  
}

h1{
    text-align: center;
    padding: 10px;
}

.principal{
    width: 1170px;
    margin: auto;
}
