/* DEBUG */

header{
    min-height: 60px;
    background-color: antiquewhite;
}
.top-section{
    background-color: aqua;
    min-height: 400px;
}

.small-container{
    background-color: blue;
    min-height: 350px;
    margin-top: 10px;
}



.presentazione{
    min-height: 350px;
    width: 260px;
    background-color: red;
}

.principal{
    background-color: lightgreen;
    min-height: 600px;
    text-align: center;
}

.container{
    background-color: yellow;
}

.columns{
    background-color: cornflowerblue;
    min-height: 400px;
}

.col{    
    background-color: green;
    min-height: 500px;
}

.enterprise{
    background-color: pink;
    min-height: 200px;
}

.info{
    background-color: khaki;
    border: 1px solid black;
    min-height: 400px;
}


/* CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    display: fixed;
    top: 0;
    left: 0;
}

ul{
    list-style: none;
    color: black;
    display: flex;
    flex-direction: row;
}
 .right{
    text-align: right;
}

.logo{
    text-align: left;
}

.top-section{
    margin-top: 60px;
    width: 100vw;
}

.small-container{
    max-width: 40vw;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
  
}

h1{
    text-align: center;
    padding: 10px;
}

.container{
    width: 1170px;
    margin: auto;
}

.columns{
    width: 1170px;
    padding: 20px;  
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.col{
    width: calc(100% / 3 - 10px);
    margin:5px;
    border: 2px solid black;
}

.enterprise{
    border: 1px solid black;
    margin-top: 10px;
}

.info{
    padding: 10px;
    width: calc(100% / 3 - 10px);

}


