*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0px 2px 5px 0px #888888;
}

nav{
    display: fixed;
    top: 0;
    left: 0;
}

.navigazione{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-nav{
    color: black;
    display: flex;
    justify-content: space-between;
 
}

li{
    padding: 10px;
}


 .right{
    text-align: right;
}

.logo{
    text-align: left;
}

.top-section{
    background-color: rgb(180, 208, 231);
    padding-top: 70px;
}

h1{
    font-size: 50px;
    margin-top: 30px;
    padding: 10px;
    text-align: justify;
    width: 590px;
}

.small-container{
    width: 1170px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
    position: relative;
    bottom: -80px;
  
}


.titolo{
    width: 765px;
    margin-left: 170px;
}

.presentazione{
  width: 50%;
}

.p-top{
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.p-partner{
    margin-bottom: 10px;
    padding: 10px 0 20px 10px
}

span{
    margin-top: 30px;
    padding: 10px;
}

.fa-arrow-down{
    margin-top: 60px;
    font-size: 50px;
}

.jumbo{
    display: flex;
}

.img-jumbo{
    width: 100%;
}

.annulla{
    margin-top: 30px;
}

.container{
    width: 1000px;
    margin:auto;
    margin-top: 100px;
}

h2{
 margin-bottom: 20px;
 padding: 10px;
}

.fa-circle-dot{
    background-color: rgb(1, 95, 255) ;
    color: white;
    border: none;
    margin-right: 5px;
}

.fa-circle{
    margin-right: 5px;
}

.columns{
    width: 1000px;
    padding: 20px;  
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 3 - 10px);
    margin:5px;
    border: 1px solid black;
}

.utente-tipo{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.piano{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.price{
    margin: 10px 0;
}

.frequency{
    margin-bottom: 20px;
}

.fa-user , .fa-folder , .fa-share-nodes , .fa-solid{
    margin-right: 5px;
    display: inline;
}



.offerta{
    padding: 10px;
    text-indent: -10px;
}

.margin{
    margin-bottom: 20px;
}

.buy{
    margin-top: 20px;
}

.important{
    margin: 20px 0;
}

.fa-check{
    color: rgb(1, 95, 255);
}

.more-margin{
    margin-bottom: 20px;
}

.enterprise{
    border: 1px solid black;
    margin-top: 10px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-side{
    padding: 10px;
    margin-top: 15px;
}

.right-side{
    padding: 10px;
    margin-top: 30px;
}

.partner{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.img{
    width: 100%;
}

.partner-img{
    width: 100%;

}

.titolo-partner{
    margin-left: 10px;
}

.business-feature{
    padding-top: 50px;
}

.img-feature{
    width: 100%;
}

.feature{
    width: 100%;
}

.feature-title{
    padding-bottom: 10px;
}

.info{
  padding: 10px;
  width: calc(100% / 3 - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.slogan{
    width: 40vw;
    padding: 10px;
    margin: 20px 0 20px 20px;
}

.adv-container{
    padding: 10px;
    margin-top: 80px;
    display: flex;
}

.square{
 width: calc(100% / 3 );
 height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.small-square{
    height: 50%;
    width: 50%;
    display: flex;
}
 
.sponsor{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.img-sponsor{
    width: 100%;
}

.green{
    background-color: rgb(162, 212, 156);
    border: 15px solid rgba(209, 230, 203);   
}

.bordeaux{
    background-color: rgb(98, 9, 43);
}

.light-blue{
    background-color: rgb(0, 147, 206);
}

.red{
    background-color: rgb(255, 29, 28);
}

.dark-red{
    background-color: rgb(213, 0, 32);
}

.indaco{
    background-color: rgb(180, 208, 231);   
}
.blue{
    background-color: rgb(13, 36, 129);
}

.yellow{
    background-color: rgb(255, 206, 48);
}

.sponsor-center-square{
    width: 100%;
    padding: 30px;
}

.img-sponsor-center-square{
    width: 40%;
}

.overflow{
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.padding-p{
    margin: 0 20px;

}

.banner{
    background-color: rgb(180, 208, 231);
    min-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner-titolo{
  color: rgb(98, 9, 43);
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
}

.right-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.fa-chevron-up{
    display: none;
}

.faq-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.fa-arrow-down{
    text-align: right;
}

footer{
    width: 100%;
    background-color: black;
}

ul{
    margin: 10px;
    list-style: none;
}

.colonna{
    width: calc(100% / 5 - 20px);
    display: inline-block;
    margin-left: 14px;
    margin-top: 10px;
    padding-bottom: 30px;
    color: white;
}

h4{
    margin-left: 15px;
}

.hr-footer{
    width: 150px;
    margin-bottom: 20px;
    margin-left: 14px;
}

.hr-main{
    width: 100px;
    margin-top: 10px;
}

.white{
    color: white;
}

a{
    color: black;
    text-decoration: none;
}

.button{
    text-align: center;
}

.button .special-button{
    margin-top: 10px;
}

.special-a{
    color: blue;
    text-decoration: underline;
}

.white-button{
    background-color: white;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid black;
}
 
.blue-button{
    background-color:rgb(1, 95, 255);
    color: white;
    padding: 10px;
}

.button-border-none{
    background-color: white;
    border: none;
    padding: 10px;
    margin-left: 50px;
}

.fa-earth-americas , .fa-caret-up , .lingua{
    color: grey;
}

.last-detail{
  margin-left: 14px;
  padding-bottom: 40px;
}

